@charset "UTF-8";
/* 
&display=swap
&display=swap&subset=cyrillic-ext    -  если нужна кирилца
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBoldCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBoldCondensed.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeue-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlackCondensed.woff2") format("woff2"), url("../fonts/HelveticaNeueBlackCondensed.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
/* ====================== Обнуление ====================================== */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  font-size: inherit;
}

body {
  font-family: "Helvetica Neue", "Roboto", sans-serif; /*Меняем на тот что в макете*/
  font-weight: 400;
  font-size: 16px;
  background: #1A1A1A;
  color: #A6A6A6;
}

.wrapper {
  overflow: hidden;
  min-height: 100%; /*чтоб wrapper всегда занимал все высоту*/
}

[class*=__container] {
  max-width: 1140px; /*Добавили 1110рх + 30рх (включая padding 15px и 15рх)*/
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: inline-block;
  background: #34C759;
  border-radius: 43px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.2em;
  color: #1A1A1A;
  text-transform: capitalize;
  padding: 25px 57px;
  transition: 0.3s ease;
}
.button:hover {
  background-color: #ffffff;
}
@media (max-width: 767.98px) {
  .button {
    font-size: 12px;
    line-height: 1;
    padding: 20px 37px;
  }
}

.button-order,
.button-order_gray {
  display: inline-block;
  background: #34C759;
  color: #1A1A1A;
  font-size: 11px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  padding: 14px 32px;
  border-radius: 30px;
  transition: 0.3s ease;
}

.button-order_gray {
  background: #252525;
  color: rgba(255, 255, 255, 0.5);
}

.about,
.work,
.dishes,
.chefs,
.recipes {
  padding: 61px 0 30px 0;
}
@media (max-width: 1139.98px) {
  .about,
.work,
.dishes,
.chefs,
.recipes {
    padding: 30px 0 30px 0;
  }
}

/*========================= Header ========================================================================*/
.header {
  padding: 33px 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
@media (max-width: 399px) {
  .header {
    padding: 20px 0;
  }
}
.header__container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}
@media (max-width: 399px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }
}
.header__logo {
  align-self: center;
}

.menu {
  display: flex;
  align-items: center;
}

.menu-items {
  display: flex;
  -moz-column-gap: 45px;
       column-gap: 45px;
}
@media (max-width: 767.98px) {
  .menu-items {
    flex-direction: column;
    row-gap: 20px;
  }
}

.menu-item {
  font-weight: 700;
  font-size: 14px;
}

.menu-link {
  color: #ffffff;
  transition: 0.3s ease;
}
.menu-link:hover {
  color: #34C759;
}

.presentation {
  padding: 170px 0 161px 0;
  background: url(../images/main/presentation/bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
@media (max-width: 1139.98px) {
  .presentation {
    padding: 150px 0 100px 0;
  }
}
@media (max-width: 767.98px) {
  .presentation {
    padding: 250px 0 50px 0;
  }
}
@media (max-width: 399.98px) {
  .presentation {
    padding: 240px 0 30px 0;
  }
}
.presentation__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.presentation__body *:last-child {
  margin-bottom: 0px;
}
.presentation__body:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 767.98px) {
  .presentation__body:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .presentation__body > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 499.98px) {
  .presentation__body > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.presentation__title {
  text-align: center;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.1666;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #FFFFFF;
  margin-bottom: 16px;
}
.presentation__title span {
  font-weight: 700;
}
@media (max-width: 1140px) {
  .presentation__title {
    max-width: 915px;
    font-size: 60px;
  }
}
@media (max-width: 767.98px) {
  .presentation__title {
    max-width: 600px;
    font-size: 45px;
  }
}
@media (max-width: 531.98px) {
  .presentation__title {
    font-size: 35px;
  }
}
@media (max-width: 399.98px) {
  .presentation__title {
    max-width: 400px;
    font-size: 25px;
  }
}
.presentation__text {
  max-width: 595px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: -0.2px;
  color: rgba(255, 255, 255, 0.7);
  text-align: justify;
  margin-bottom: 40px;
  padding: 0 40px;
}
@media (max-width: 767.98px) {
  .presentation__text {
    max-width: 400px;
    font-size: 15px;
    color: #A6A6A6;
    padding: 0 0px;
  }
}
@media (max-width: 399.98px) {
  .presentation__text {
    line-height: 1.5;
  }
}
.presentation__button {
  margin-bottom: 70px;
}

.contacts__body {
  margin: 0 auto;
  max-width: 917px;
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 767.98px) {
  .contacts__body {
    flex-wrap: wrap;
  }
}
@media (max-width: 599.98px) {
  .contacts__body {
    flex-direction: column;
    row-gap: 30px;
  }
}
.contacts__column {
  flex: 0 0 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .contacts__column {
    flex: 0 0 50%;
  }
}
.contacts__icon {
  margin-bottom: 16px;
}
@media (max-width: 599.98px) {
  .contacts__icon {
    margin-bottom: 3px;
  }
}
.contacts__value {
  line-height: 1.875;
  color: #FFFFFF;
}
.contacts__text {
  font-size: 14px;
  color: #A6A6A6;
}

.double-title {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 59px;
}
.double-title::after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 2px;
  background-color: #34C759;
}
@media (max-width: 767.98px) {
  .double-title::after {
    height: 0.8px;
  }
}
@media (max-width: 767.98px) {
  .double-title {
    margin-bottom: 40px;
  }
}
@media (max-width: 320px) {
  .double-title {
    margin-bottom: 30px;
  }
}
.double-title__title {
  font-weight: 900;
  font-size: 100px;
  line-height: 150%;
  letter-spacing: 0.15em;
  color: #303030;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 767.98px) {
  .double-title__title {
    font-size: 70px;
  }
}
@media (max-width: 320px) {
  .double-title__title {
    font-size: 60px;
  }
}
.double-title__subtitle {
  font-size: 36px;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  color: #D9D9D9;
  position: absolute;
  text-align: center;
}
@media (max-width: 767.98px) {
  .double-title__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .double-title__subtitle {
    font-size: 22px;
  }
}

.work__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
@media (max-width: 767.98px) {
  .work__items {
    row-gap: 20px;
  }
}
.work__item {
  flex: 1 1 25%;
  padding: 0 15px;
}
@media (min-width: 1140px) {
  .work__item {
    max-width: 25%;
  }
}
@media (max-width: 767.98px) {
  .work__item {
    padding: 0 10px;
  }
}

.item-work {
  display: block;
  height: 100%;
  padding: 24px 24px 60px;
  background: #252525;
  color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  min-width: 255px;
}
.item-work *:not(:last-child) {
  margin-bottom: 36px;
}
@media (max-width: 767.98px) {
  .item-work {
    padding: 14px 14px 30px;
  }
  .item-work *:not(:last-child) {
    margin-bottom: 25px;
  }
}
.item-work:hover {
  background: #34C759;
  color: #191919;
}
.item-work:hover .item-work__title {
  color: #191919;
}
.item-work:hover .item-work__title::after {
  background-color: #191919;
}
.item-work.active {
  background: #34C759;
  color: #191919;
}
.item-work.active .item-work__title {
  color: #191919;
}
.item-work.active .item-work__title::after {
  background-color: #191919;
}
.item-work__title {
  min-width: 140px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #FFFFFF;
  position: relative;
}
@media (max-width: 320px) {
  .item-work__title {
    font-size: 18px;
  }
}
.item-work__title::after {
  content: "";
  display: inline-block;
  width: 56px;
  height: 2px;
  background-color: #34C759;
  position: absolute;
  bottom: -10px;
  left: 0;
}
@media (max-width: 767.98px) {
  .item-work__title::after {
    height: 0.8px;
  }
}
.item-work__title_green {
  color: #191919;
}
.item-work__title_green::after {
  background-color: #191919;
}
.item-work__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
}
@media (max-width: 320px) {
  .item-work__text {
    font-size: 13px;
  }
}

.dishes__cards {
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  margin: 0 -15px;
}
.dishes__card {
  flex: 0 1 33.333%;
  padding: 0 15px;
}
@media (max-width: 767.98px) {
  .dishes__card {
    flex: 0 1 50%;
  }
}
@media (max-width: 500px) {
  .dishes__card {
    flex: 0 1 100%;
  }
}

.card-dishes {
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  height: 100%;
}
.card-dishes__image-box {
  position: relative;
  padding: 0 0 74.285% 0;
}
.card-dishes__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px 6px 0 0;
}
.card-dishes__body {
  background: #252525;
  padding: 29px 30px 28px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card-dishes__body *:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 530px) {
  .card-dishes__body {
    align-items: center;
  }
}
.card-dishes__title {
  font-size: 32px;
  line-height: 0, 9375;
  color: #D9D9D9;
}
@media (max-width: 991.98px) {
  .card-dishes__title {
    font-size: 24px;
  }
}
@media (max-width: 530px) {
  .card-dishes__title {
    font-size: 30px;
  }
}
.card-dishes__subtitle {
  font-size: 15px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #A4A8B2;
}
.card-dishes__text {
  color: #85878C;
  font-size: 15px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  text-align: justify;
  flex: 1 1 auto;
}

.recipes__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
@media (max-width: 767.98px) {
  .recipes__content {
    row-gap: 30px;
  }
}
.recipes__column {
  flex: 1 0 50%;
}
@media (max-width: 767.98px) {
  .recipes__column {
    flex: 1 0 100%;
  }
}

.column-big {
  height: 100%;
  margin: 0 15px;
  position: relative;
}
.column-big .meal {
  height: 100%;
  padding: 60px 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.98px) {
  .column-big .meal {
    padding: 72px 30px 50px;
  }
}
@media (max-width: 767.98px) {
  .column-big .meal {
    padding: 22px 23px 16px;
  }
}
.column-big .meal__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 65px;
  margin-bottom: 25px;
}
@media (max-width: 991.98px) {
  .column-big .meal__label {
    row-gap: 10px;
  }
}
.column-big .meal__block-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  row-gap: 45px;
  margin-bottom: 65px;
}
@media (max-width: 991.98px) {
  .column-big .meal__block-text {
    row-gap: 15px;
  }
}
@media (max-width: 767.98px) {
  .column-big .meal__block-text {
    margin-bottom: 20px;
    text-align: justify;
  }
}
.column-big .meal__data {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
}
.column-big .meal__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.67;
}
@media (max-width: 767.98px) {
  .column-big .meal__text {
    font-size: 20px;
    line-height: 1.5;
  }
}
.column-big__arrow {
  position: absolute;
  top: 30px;
  right: 30px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 991.98px) {
  .column-big__arrow {
    top: 15px;
    right: 20px;
  }
}
.column-big__breakfast {
  background: #252525 url(../images/main/recipes/breakfast.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.column-triple {
  margin: 0 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .column-triple {
    row-gap: 30px;
  }
}
.column-triple .meal {
  padding: 30px 30px 20px 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 10px;
}
@media (max-width: 991.98px) {
  .column-triple .meal {
    row-gap: 25px;
    padding: 15px;
  }
}
@media (max-width: 767.98px) {
  .column-triple .meal {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.column-triple .meal__label {
  order: 2;
  display: flex;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
@media (max-width: 991.98px) {
  .column-triple .meal__label {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
}
.column-triple .meal__block-text {
  order: 1;
  flex: 1 1 auto;
}
.column-triple .views {
  order: 3;
}
@media (max-width: 991.98px) {
  .column-triple .views {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .column-triple .views__link {
    -moz-column-gap: 5px;
         column-gap: 5px;
  }
}
.column-triple__lunch {
  background: #252525;
}
.column-triple__dinner {
  background: #252525 url(../images/main/recipes/dinner.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}
.column-triple__sweets {
  background: #252525;
}

.meal {
  border-radius: 6px;
}
.meal__name {
  display: inline-block;
  padding: 0 16px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-weight: 900;
  font-size: 10px;
  line-height: 250%;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.meal__data {
  font-weight: 400;
  font-size: 12px;
  line-height: 2.08;
  color: #FFFFFF;
}
.meal__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #FFFFFF;
}
@media (max-width: 991.98px) {
  .meal__text {
    line-height: 1.5;
  }
}
.meal__author {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.14;
  color: #FFFFFF;
}
.meal_green {
  background: #34C759;
}
.meal_green .meal__data,
.meal_green .meal__text {
  color: #252525;
}
.meal_green .meal__name {
  background: #000000;
}

.views {
  display: flex;
  -moz-column-gap: 33px;
       column-gap: 33px;
}
.views__link {
  display: flex;
  align-items: center;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
.views__prop {
  font-weight: 700;
  font-size: 12px;
  line-height: 2.5;
  color: #FFFFFF;
}
.about {
  display: none;
  padding-bottom: 90px;
  background-color: #252525;
}
@media (max-width: 767.98px) {
  .about {
    padding-bottom: 30px;
  }
}
.about__body {
  max-width: 734px;
  margin: 0 auto;
}
.about__body > *:not(:last-child) {
  margin-bottom: 90px;
}
@media (max-width: 767.98px) {
  .about__body > *:not(:last-child) {
    margin-bottom: 30px;
  }
}
.about__text {
  line-height: 1.88;
  color: #A6A6A6;
  text-align: center;
}
.about__images {
  display: flex;
  row-gap: 30px;
  margin: 0 -17px;
}
@media (max-width: 767.98px) {
  .about__images {
    flex-wrap: wrap;
  }
}
.about__item {
  flex: 1 0 50%;
  padding: 0 17px;
}
@media (max-width: 549.98px) {
  .about__item {
    flex: 1 0 100%;
  }
}
.about__image-box {
  position: relative;
  padding-bottom: 77.142%;
}
.about__img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: absolute;
}

.chefs__content {
  display: flex;
  margin: 0 -15px;
}
@media (max-width: 767.98px) {
  .chefs__content {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
.chefs__item {
  flex: 0 0 33.333%;
}
@media (max-width: 767.98px) {
  .chefs__item {
    flex: 1 0 50%;
  }
}
@media (max-width: 500.98px) {
  .chefs__item {
    flex: 0 0 100%;
  }
}

.item-chef {
  margin: 0 15px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  height: 100%;
}
.item-chef__author {
  flex-grow: 1;
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}
@media (max-width: 1139.98px) {
  .item-chef__author {
    justify-content: center;
  }
}
.item-chef__avatar-box {
  flex: 0 0 65px;
  height: 65px;
}
.item-chef__avatar-img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.item-chef__name {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: -0.225px;
  color: #FFFFFF;
}
.item-chef__speciality {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: rgba(255, 255, 255, 0.5);
}

.chef-galery {
  display: flex;
  justify-content: space-between;
  row-gap: 30px;
}
@media (max-width: 1139.98px) {
  .chef-galery {
    flex-wrap: wrap;
    justify-content: center;
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
.chef-galery__image-box {
  flex: 0 0 65px;
  height: 65px;
}
.chef-galery__image-box_big {
  flex: 0 0 160px;
}
@media (max-width: 1139.98px) {
  .chef-galery__image-box_big {
    order: 3;
  }
}
@media (max-width: 500.98px) {
  .chef-galery__image-box_big {
    order: 0;
  }
}
@media (max-width: 379.98px) {
  .chef-galery__image-box_big {
    order: 3;
  }
}
.chef-galery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.footer {
  background: #252525;
}
.footer__contacts {
  padding: 30px 0;
}
.footer__logo {
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.footer__copy {
  font-size: 12px;
  line-height: 1.8;
  color: #737373;
}/*# sourceMappingURL=style.css.map */