
/* 
&display=swap
&display=swap&subset=cyrillic-ext    -  если нужна кирилца
 */
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,700&display=swap");

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeueBoldCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBoldCondensed.woff') format('woff');
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeue-Roman.woff2') format('woff2'),
        url('../fonts/HelveticaNeue-Roman.woff') format('woff');
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: 'Helvetica Neue';
   src: url('../fonts/HelveticaNeueBlackCondensed.woff2') format('woff2'),
        url('../fonts/HelveticaNeueBlackCondensed.woff') format('woff');
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}


/* ====================== Обнуление ====================================== */

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   border: 0;
   box-sizing: border-box;
}

a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   font-size: inherit;
   font-weight: inherit;
}

li {
   list-style: none;
}

img {
   vertical-align: top;
}

html,
body {
   height: 100%; 
}

 html {
   font-size: inherit;  
 }

 body {
   font-family: 'Helvetica Neue', 'Roboto', sans-serif; /*Меняем на тот что в макете*/
   font-weight: 400;
   font-size: 16px;
   background: #1A1A1A;
   color: #A6A6A6;;
}


//=============================================================

//========================================================


 .wrapper {
   overflow: hidden;
   min-height: 100%;  /*чтоб wrapper всегда занимал все высоту*/
}

[class*="__container"] {
   max-width: 1140px;    /*Добавили 1110рх + 30рх (включая padding 15px и 15рх)*/
   margin: 0 auto;
   padding: 0 15px;
}

.button {
   display: inline-block;
   background: #34C759;
   border-radius: 43px;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.22;
   letter-spacing: 0.2em;
   color: #1A1A1A;
   text-transform: capitalize;
   padding: 25px 57px;
   transition: 0.3s ease;

   &:hover {
      background-color: #ffffff;
   }

   @media (max-width:767.98px) {
      font-size: 12px;
      line-height: 1;
      padding: 20px 37px;
   }
}

.button-order,
.button-order_gray {
   display: inline-block;
   background: #34C759;
   color: #1A1A1A;
   font-size: 11px;
   font-weight: 900;
   line-height: 1;
   letter-spacing: 0.2em;
   text-transform: capitalize;
   padding: 14px 32px;
   border-radius: 30px;
   transition: 0.3s ease;
}

.button-order_gray {
   background: #252525;
   color: rgba(255, 255, 255, 0.5);

}

.work,
.dishes,
.recipes {
   padding: 61px 0 30px 0;

   @media (max-width:1139.98px) {
      padding: 30px 0 30px 0;
   }
}



//==========================================================================================================

/*========================= Header ========================================================================*/



.header {
   padding: 33px 0;
   border-bottom: 2px solid rgba($color: #ffffff, $alpha: 0.1);
   
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;

   // display: none;

   @media (max-width: 399px) {
      padding: 20px 0;

   }

   // .header__container

   &__container {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: space-between;

      @media (max-width: 399px) {
         flex-direction: column;
         align-items: center;
      }
   }

   // .header__logo
   &__logo {
      align-self: center;
   }
}

.logo {
}
.menu {
   display: flex;
   align-items: center;
}
.menu-items {
   display: flex;
   column-gap: 45px;

   @media (max-width: 767.98px) {
      flex-direction: column;
      row-gap: 20px;
   }
}
.menu-item {
   font-weight: 700;
   font-size: 14px;
}
.menu-link {
   color: #ffffff;
   transition: 0.3s ease;
   &:hover {
      color: #34C759;
   }
}


//=========================================================================

//====================== Presentation =====================================


.presentation {
   padding: 170px 0 161px 0;
   background: url(../images/main/presentation/bg.jpg) no-repeat;
   background-size: cover;
   background-position: center;
   display: none;

   @media (max-width: 1139.98px) {
      padding: 150px 0 100px 0;
   }
   @media (max-width: 767.98px) {
      padding: 250px 0 50px 0;
   }
   @media (max-width: 399.98px) {
      padding: 240px 0 30px 0;
   }

   // .presentation__body

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      *:last-child {
         margin-bottom: 0px;
      }

      @media (max-width:767.98px) {
         > *:not(:last-child) {
            margin-bottom: 30px;
         }
      }

      > *:not(:last-child) {
         @media (max-width:499.98px) {
            margin-bottom: 30px;
         }
      }
   }

   // .presentation__title

   &__title {
      // max-width: 915px;
      text-align: center;
      font-weight: 400;
      font-size: 72px;
      line-height: 1.1666;
      letter-spacing: 0.1em;
      text-transform: capitalize;
      color: #FFFFFF;
      margin-bottom: 16px;
      span {
         font-weight: 700;
      }
      @media (max-width: 1140px) {
         max-width: 915px;
         font-size: 60px;
      }
      @media (max-width: 767.98px) {
         max-width: 600px;
         font-size: 45px;
      }
      @media (max-width: 531.98px) {
         font-size: 35px;
      }
      @media (max-width: 399.98px) {
         max-width: 400px;
         font-size: 25px;
      }
   }

   // .presentation__text

   &__text {
      max-width: 595px;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.7;
      letter-spacing: -0.2px;
      color: rgba($color: #ffffff, $alpha: 0.7);
      text-align: justify;
      margin-bottom: 40px;
      padding: 0 40px;

      @media (max-width:767.98px) {
         max-width: 400px;
         font-size: 15px;
         color: #A6A6A6;;
         padding: 0 0px;

      }
      @media (max-width: 399.98px) {
         line-height: 1.5;
      }
   }

   // .presentation__button

   &__button {
      margin-bottom: 70px;

      // @media (max-width: 599.98px) {
      //    margin-bottom: 30px;
      // }
   }
}

.contacts {
   max-width: 915px;
   display: flex;
   flex-wrap: wrap;
   margin: 0 -90px;

   @media (max-width: 767.98px) {
      margin: 0 -40px;
   }
   @media (max-width: 599.98px) {
      flex-direction: column;
      row-gap: 30px;
   }
   
   // .contacts__column

   &__column {
      padding: 0 45px;
      display: flex;
      flex-direction: column;
      align-items: center;
      @media (max-width:767.98px) {
         padding: 0 20px;
      }
   }

   // .contacts__icon

   &__icon {
      margin-bottom: 16px;
      @media (max-width: 599.98px) {
         margin-bottom: 3px;
      }
   }

   // .contacts__value

   &__value {
      line-height: 1.875;
      color: #FFFFFF;
   }

   // .contacts__text

   &__text {
      font-size: 14px;
      color: #A6A6A6;
   }
}


//=========================================================================

//========================== double-title =================================


.double-title {
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin-bottom: 59px;

   &::after {
      content: "";
      display: inline-block;
      width: 60px;
      height: 2px;
      background-color: #34C759;

      @media (max-width: 767.98px) {
         height: 0.8px;
      }
   }

   @media (max-width: 767.98px) {
      margin-bottom: 40px;
   }
   @media (max-width: 320px) {
      margin-bottom: 30px;
   }
   
   &__title {
      font-weight: 900;
      font-size: 100px;
      line-height: 150%;
      letter-spacing: 0.15em;
      color: #303030;
      text-transform: uppercase;
      text-align: center;

      @media (max-width:767.98px) {
         font-size: 70px;
      }
      @media (max-width: 320px) {
         font-size: 60px;
      }
   }

   &__subtitle {
      font-size: 36px;
      letter-spacing: 0.2em;
      text-transform: capitalize;
      color: #D9D9D9;
      position: absolute;

      @media (max-width:767.98px) {
         font-size: 25px;
      }
      @media (max-width: 320px) {
         font-size: 22px;
      }
   }
}


//=============================================================

//================= WORK ======================================

.work {
   display: none;
   //.work__container
   &__container {
   }

   // .work__items
   &__items {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      margin: 0 -15px;

      @media (max-width: 767.98px) {
         row-gap: 20px;
      }
   }

   // .work__item
   &__item {
      flex: 1 1 25%;
      padding: 0 15px;

      @media (min-width: 1140px) {
         max-width: 25%;
      }
      @media (max-width: 767.98px) {
         padding: 0 10px;
      }
   }
}

.item-work {
   display: block;
   height: 100%;
   padding: 24px 24px 60px;
   background: #252525;
   color: rgba(255, 255, 255, 0.5);
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
   border-radius: 6px;
   min-width: 255px;
   *:not(:last-child) {
      margin-bottom: 36px;
   }

   @media (max-width: 767.98px) {
      padding: 14px 14px 30px;

      *:not(:last-child) {
         margin-bottom: 25px;
      }
   }

   // .item-work:hover
   &:hover {
      background: #34C759;
      color: #191919;

      .item-work__title {
         //.item-work:hover .item-work__title
         color: #191919;
         //.item-work:hover .item-work__title::after
         &::after {
            background-color: #191919;
         }
      }
   }


   //.item-work_green
   &_green {
      background: #34C759;
      color: #191919;

      .item-work__title {
         //.item-work:hover .item-work__title
         color: #191919;
         //.item-work:hover .item-work__title::after
         &::after {
            background-color: #191919;
         }
      }
   }

   // .item-work__title
   &__title {
      min-width: 140px;
      font-weight: 400;
      font-size: 22px;
      line-height: 1.18;
      letter-spacing: -0.275px;
      text-transform: capitalize;
      color: #FFFFFF;
      position: relative;

      @media (max-width: 320px) {
         font-size: 18px;
      }

      &::after {
         content: "";
         display: inline-block;
         width: 56px;
         height: 2px;
         background-color: #34C759;

         position: absolute;
         bottom: -10px;
         left: 0;

         @media (max-width: 767.98px) {
            height: 0.8px;
         }
      }
   }

   &__title_green {
      color: #191919;

      &::after {
         background-color: #191919;
      }
   }

   // .item-work__text

   &__text {
      font-weight: 400;
      font-size: 15px;
      line-height: 1.38;
      letter-spacing: -0.1625px;

      @media (max-width: 320px) {
         font-size: 13px;
      }
   }
}

//=============================================================

//======================== DISHES =============================


.dishes {
   display: none;
   // .dishes__container

   &__container {
   }

   // .dishes__cards

   &__cards {
      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;
      margin: 0 -15px;
   }

   // .dishes__card

   &__card {
      flex: 0 1 33.333%;
      padding: 0 15px;

      @media (max-width: 767.98px) {
         flex: 0 1 50%;
      }
      @media (max-width: 500px) {
         flex: 0 1 100%;
      }  
   }
}

.card-dishes {
   display: flex;
   flex-direction: column;

   border-radius: 6px;
   height: 100%;

   &__image-box {
      position: relative;
      padding: 0 0 74.285% 0;
   }

   // .card-dishes__img

   &__img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
      border-radius: 6px 6px 0 0;
   }

   // .card-dishes__body

   &__body {
      background: #252525;
      padding: 29px 30px 28px;
      height: 100%;
      display: flex;
      flex-direction: column;
      *:not(:last-child) {
         margin-bottom: 20px;
      }
      @media (max-width: 530px) {
         align-items: center;
      }
   }

   // .card-dishes__titles

   &__titles { 
   }

   // .card-dishes__title

   &__title {
      font-size: 32px;
      line-height: 0,9375;
      color: #D9D9D9;
      @media (max-width: 991.98px) {
         font-size: 24px;
      }
      @media (max-width: 530px) {
         font-size: 30px;
      }
   }

   // .card-dishes__subtitle

   &__subtitle {
      font-size: 15px;
      line-height: 1.33;
      letter-spacing: -0.15px;
      color: #A4A8B2;
   }

   // .card-dishes__text

   &__text {
      color: #85878C;
      font-size: 15px;
      line-height: 1.38;
      letter-spacing: -0.1625px;
      text-align: justify;

      flex: 1 1 auto;
   }
}
.rating {

   // .rating__stars

   &__stars {
   }

   // .rating__button

   &__button {
   }
}
.button-order {
}


//=======================================================================

//============================== recipes ================================


.recipes {

   // .recipes__container

   &__container {
   }

   // .recipes__content

   &__content {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -15px;
   }

   // .recipes__column

   &__column {
      flex: 1 0 50%;
   }
}


// .column-big

.column-big {
   height: 100%;
   margin: 0 15px;      
   position: relative;

   .meal {
      height: 100%;
      padding: 60px 90px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @media (max-width: 991.98px) {
         padding: 72px 30px 50px;
      }
   }

   .meal__label {
      // text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 65px;
      margin-bottom: 25px;

      @media (max-width: 991.98px) {
         row-gap: 10px;
      }
   }

   .meal__block-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: 45px;
      margin-bottom: 65px;

      @media (max-width: 991.98px) {
         row-gap: 15px;
      }
   }

   .meal__data {
      font-weight: 400;
      font-size: 14px;
      line-height: 2.14;
   }

   .meal__text {
      font-weight: 400;
      font-size: 24px;
      line-height: 1.67;
   }


   // .column-big__arrow
   &__arrow {
      position: absolute;
      top: 30px;
      right: 30px;
      display: inline-block;
      width: 40px; 
      height: 40px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 991.98px) {
         top: 15px;
         right: 20px;
      }
   }

   // .column-big__link-arrow

   &__link-arrow {
   }

   // .column-big__breakfast

   &__breakfast {
      background: #252525 url(../images/main/recipes/breakfast.jpg) no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 6px;
   }
}

.column-triple {
   margin: 0 15px;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   // @media (max-width: 767.98px) {
   //    flex-direction: row
   // }

   .meal {
      padding: 30px 30px 20px 30px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 10px;
      row-gap: 10px;

      @media (max-width: 991.98px) {
         row-gap: 25px;
         padding: 15px;
      }
   }

   .meal__label {
      order: 2;
      display: flex;
      column-gap: 15px;

      @media (max-width: 991.98px) {
         column-gap: 10px;
      }
   }

   .meal__block-text {
      order: 1;
      flex: 1 1 auto;
   }

   .views {
      order: 3;

      @media (max-width: 991.98px) {
         column-gap: 20px;
      }

      &__link {
         @media (max-width: 991.98px) {
            column-gap: 5px;
         }
      }
   }

   // .meal__data
   .meal__data {
   }

   .meal__text {
   }


   // .column-triple__lunch
   &__lunch {
      background: #252525; 
   }

   // .column-triple__dinner
   &__dinner {
      background: #252525 url(../images/main/recipes/dinner.jpg) no-repeat;
      background-size: cover;
      background-position: center;
   }

   // .column-triple__sweets
   &__sweets {
      background: #252525; 
   }
}


.meal {
   border-radius: 6px;

   // .meal__label
   &__label {
      // text-align: center;
   }

   // .meal__name
   &__name {
      display: inline-block;
      padding: 0 16px;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      font-weight: 900;
      font-size: 10px;
      line-height: 250%;
      letter-spacing: 1.25px;
      text-transform: uppercase;
      color: #FFFFFF;
   }

   // .meal__data
   &__data {
      font-weight: 400;
      font-size: 12px;
      line-height: 2.08;
      color: #FFFFFF;
   }

   // .meal__block-text
   &__block-text {
   }

   // .meal__text
   &__text {
      font-weight: 400;
      font-size: 16px;
      line-height: 1.88;
      color: #FFFFFF;

      @media (max-width: 991.98px) {
         line-height: 1.5;
      }
   }

   // .meal__author
   &__author {
      font-weight: 400;
      font-size: 14px;
      line-height: 2.14;
      color: #FFFFFF;
   }

   // .meal_green
   &_green {
      background: #34C759;

      .meal__data,
      .meal__text {
         color: #252525;
      }

      .meal__name {
         background: #000000;
      }
   }
}

.views {
   display: flex;
   column-gap: 33px;

   // .views__link
   &__link {
      display: flex;
      align-items: center;
      column-gap: 14px;
   }

   // .views__image
   &__image {
   }

   // .views__prop
   &__prop {
      font-weight: 700;
      font-size: 12px;
      line-height: 2.5;
      color: #FFFFFF;
   }

   // .views__comments
   &__comments {
   }
}

